# 데이터 테이블 병합

## 1. 데이터 불러오기

### 1.1 관객수 테이블

In [1]:
import pandas as pd

In [9]:
view = pd.read_csv('./data/monthly_final.csv', encoding='utf-8-sig', thousands=',')
view.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8010 entries, 0 to 8009
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieNm  8010 non-null   object
 1   openDt   8010 non-null   int64
 2   view     8010 non-null   int64
dtypes: int64(2), object(1)
memory usage: 187.9+ KB

In [10]:
view.head()

         movieNm    openDt     view
0          #살아있다  20200624  1903992
1         #아이엠히어  20210114    16404
2          #위왓치유  20210603     1855
3         0.0MHz  20190529   137294
4  007 노 타임 투 다이  20210929  1229971

### 1.2 영화 상세정보 테이블 불러오기

In [11]:
details = pd.read_csv("./data/details_v1.csv", encoding='utf-8-sig', thousands=',')
details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14265 entries, 0 to 14264
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movieCd           14265 non-null  object
 1   movieNm           14265 non-null  object
 2   movieNmEn         11964 non-null  object
 3   showTm            14265 non-null  float64
 4   prdtYear          14256 non-null  float64
 5   openDt            14265 non-null  int64
 6   prdtStatNm        14265 non-null  object
 7   typeNm            14265 non-null  object
 8   nationNm          14265 non-null  object
 9   genres_1          14265 non-null  object
 10  genres_2          7489 non-null   object
 11  directorNm        13637 non-null  object
 12  directorNmEn      10790 non-null  object
 13  actor1_Nm         10287 non-null  object
 14  actor1_NmEn       10287 non-null  object
 15  watchGradeNm      14265 non-null  object
 16  dist_companyCd    14221 non-null  float64
 17  dist_companyNm    14221 non-null  object
 18  dist_companyNmEn  9258 non-null   object
dtypes: float64(3), int64(1), object(15)
memory usage: 2.1+ MB

---

## 2. 데이터 병합

In [12]:
raw = pd.merge(details, view, how='inner', left_on=['movieNm', 'openDt'], right_on=['movieNm', 'openDt'])

In [13]:
raw.head()

,movieCd,movieNm,movieNmEn,showTm,prdtYear,openDt,prdtStatNm,typeNm,nationNm,genres_1,genres_2,directorNm,directorNmEn,actor1_Nm,actor1_NmEn,watchGradeNm,dist_companyCd,dist_companyNm,dist_companyNmEn,view
0,20040598,해리포터와 아즈카반의 죄수,Harry Potter And The Prisoner Of Azkaban,136.0,2004.0,20040716,개봉,장편,미국,드라마,NaN,알폰소 쿠아론,Alfonso Cuaron,다니엘 래드클리프,Daniel Radcliffe,전체관람가,20100043.0,워너브러더스 코리아(주),Warner Bros. Korea,1865469
1,20040666,나쁜 교육,Bad Education,104.0,2004.0,20040917,개봉,장편,스페인,드라마,NaN,페드로 알모도바르,Pedro Almodovar,NaN,NaN,18세관람가,20217646.0,해피송,Happy Song,21628
2,20030440,자토이치,Zatoichi,119.0,2003.0,20040130,개봉,장편,일본,액션,NaN,기타노 다케시,Takeshi Kitano,기타노 다케시,Takeshi Kitano,15세관람가,20100631.0,(주)영화사 진진,JINJIN Pictures,24634
3,20040606,천년여우,Millennium Actress,87.0,2001.0,20040709,개봉,장편,일본,스릴러,애니메이션,곤 사토시,Kon Satoshi,NaN,NaN,12세관람가,20100250.0,무비즈엔터테인먼트㈜,Movies Entertainment,5472
4,20040487,범죄의 재구성,The Big Swindle,116.0,2004.0,20040415,개봉,장편,한국,스릴러,NaN,최동훈,CHOI Dong-hoon,김윤석,KIM Yun-seok,18세관람가,20100103.0,(주)쇼박스,Showbox Corp,943241

In [14]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7201 entries, 0 to 7200
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movieCd           7201 non-null   object
 1   movieNm           7201 non-null   object
 2   movieNmEn         7089 non-null   object
 3   showTm            7201 non-null   float64
 4   prdtYear          7199 non-null   float64
 5   openDt            7201 non-null   int64
 6   prdtStatNm        7201 non-null   object
 7   typeNm            7201 non-null   object
 8   nationNm          7201 non-null   object
 9   genres_1          7201 non-null   object
 10  genres_2          3853 non-null   object
 11  directorNm        7066 non-null   object
 12  directorNmEn      6889 non-null   object
 13  actor1_Nm         6600 non-null   object
 14  actor1_NmEn       6600 non-null   object
 15  watchGradeNm      7201 non-null   object
 16  dist_companyCd    7188 non-null   float64
 17  dist_companyNm    7188 non-null   object
 18  dist_companyNmEn  6089 non-null   object
 19  view              7201 non-null   int64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.2+ MB

In [15]:
raw.to_csv('./data/join_raw.csv', encoding='utf-8-sig', index=False)

In [92]:
raw = pd.read_csv('./data/join_raw.csv', encoding='utf-8-sig', thousands=',')

---

## 3. 추가 전처리

### 3.1 배급사 결측치 전처리

In [93]:
raw[raw['dist_companyCd'].isna()].sort_values('view', ascending=False)

,movieCd,movieNm,movieNmEn,showTm,prdtYear,openDt,prdtStatNm,typeNm,nationNm,genres_1,genres_2,directorNm,directorNmEn,actor1_Nm,actor1_NmEn,watchGradeNm,dist_companyCd,dist_companyNm,dist_companyNmEn,view
1129,20071675,더 게임,The Devil’s Game,116.0,2007.0,20080130,개봉,장편,한국,스릴러,NaN,윤인호,YUN Inho,변희봉,BYUN Hee-bong,15세이상관람가,NaN,NaN,NaN,1479859
1495,20090426,퍼블릭 에너미,Public Enemies,140.0,2009.0,20090812,개봉,장편,미국,범죄,액션,마이클 만,Michael Mann,조니 뎁,Johnny Depp,15세이상관람가,NaN,NaN,NaN,456742
738,20060291,잘 살아보세,Mission Sex Control,120.0,2006.0,20060928,개봉,장편,한국,코미디,NaN,안진우,AHN Jin-woo,김정은,KIM Jung-eun,12세관람가,NaN,NaN,NaN,236799
1491,20090284,코렐라인: 비밀의 문,Coraline,100.0,2008.0,20090521,개봉,장편,미국,애니메이션,가족,헨리 셀릭,Henry Selick,테리 해처,Teri Hatcher,전체관람가,NaN,NaN,NaN,219307
1501,20090214,스테이트 오브 플레이,State Of Play,127.0,2009.0,20090430,개봉,장편,미국,드라마,범죄,케빈 맥도널드,Kevin Macdonald,러셀 크로우,Russell Crowe,12세이상관람가,NaN,NaN,NaN,147737
1048,20070043,스모킹 에이스,Smokin` Aces,108.0,2006.0,20070308,개봉,장편,프랑스,액션,코미디,조 카나한,Joe Carnahan,벤 애플렉,Ben Affleck,청소년관람불가,NaN,NaN,NaN,137855
1037,20070106,선샤인,Sunshine,107.0,2007.0,20070419,개봉,장편,미국,SF,스릴러,대니 보일,Danny Boyle,킬리언 머피,Cillian Murphy,15세이상관람가,NaN,NaN,NaN,90208
5387,20182935,출국,Unfinished,104.0,2018.0,20181114,개봉,장편,한국,드라마,NaN,노규엽,NO Gyu-yeop,이범수,LEE Beom-su,15세이상관람가,NaN,NaN,NaN,81880
1863,20061214,작은 연못,A Little Pond,86.0,2010.0,20100415,개봉,장편,한국,드라마,전쟁,이상우,YI Sang-woo,문성근,MOON Sung-keun,15세이상관람가,NaN,NaN,NaN,46428
1600,20090663,컴 아웃 파이팅,Fighting,105.0,2009.0,20091022,개봉,장편,미국,액션,드라마,디토 몬티엘,Dito Montiel,채닝 테이텀,Channing Tatum,15세이상관람가,NaN,NaN,NaN,25052
959,20070080,나비효과 2,The Butterfly Effect 2,92.0,2006.0,20070308,개봉,장편,미국,SF,드라마,존 R. 레오네티,John R. Leonetti,에릭 라이블리,Eric Lively,15세이상관람가,NaN,NaN,NaN,3195
430,20050102,활,The Bow,88.0,2005.0,20050512,개봉,장편,한국,드라마,NaN,김기덕,KIM Ki-duk,서지석,Seo Ji-seok,15세관람가,NaN,NaN,NaN,1382
184,20040822,미라클 메이커,The Miracle Maker,93.0,2000.0,20040401,개봉,장편,영국,드라마,애니메이션,데릭 W. 헤이즈,NaN,마이클 브라이언트,Michael Bryant,전체관람가,NaN,NaN,NaN,1109

In [94]:
# 네이버 영화에서 배급사 정보가 제공되는 경우만 수작업으로 추가
raw.loc[1129, 'dist_companyNm'] = "(주)프라임엔터테인먼트"
raw.loc[1495, 'dist_companyNm'] = "유니버설픽쳐스인터내셔널 코리아(유)"
raw.loc[738, 'dist_companyNm'] = "롯데엔터테인먼트"
raw.loc[1491, 'dist_companyNm'] = "유니버설픽쳐스인터내셔널 코리아(유)"
raw.loc[1501, 'dist_companyNm'] = "유니버설픽쳐스인터내셔널 코리아(유)"
raw.loc[1048, 'dist_companyNm'] = "유니버설픽쳐스인터내셔널 코리아(유)"
raw.loc[1600, 'dist_companyNm'] = "유니버설픽쳐스인터내셔널 코리아(유)"

In [95]:
# 그 외는 제거
raw = raw.dropna(subset=['dist_companyNm'], axis=0).reset_index(drop=True)
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7195 entries, 0 to 7194
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movieCd           7195 non-null   object
 1   movieNm           7195 non-null   object
 2   movieNmEn         7083 non-null   object
 3   showTm            7195 non-null   float64
 4   prdtYear          7193 non-null   float64
 5   openDt            7195 non-null   int64
 6   prdtStatNm        7195 non-null   object
 7   typeNm            7195 non-null   object
 8   nationNm          7195 non-null   object
 9   genres_1          7195 non-null   object
 10  genres_2          3849 non-null   object
 11  directorNm        7060 non-null   object
 12  directorNmEn      6884 non-null   object
 13  actor1_Nm         6594 non-null   object
 14  actor1_NmEn       6594 non-null   object
 15  watchGradeNm      7195 non-null   object
 16  dist_companyCd    7188 non-null   float64
 17  dist_companyNm    7195 non-null   object
 18  dist_companyNmEn  6089 non-null   object
 19  view              7195 non-null   int64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.1+ MB

### 3.2 감독 컬럼 전처리

In [96]:
raw[raw['directorNm'].isna()].sort_values('view', ascending=False).head(20)

,movieCd,movieNm,movieNmEn,showTm,prdtYear,openDt,prdtStatNm,typeNm,nationNm,genres_1,genres_2,directorNm,directorNmEn,actor1_Nm,actor1_NmEn,watchGradeNm,dist_companyCd,dist_companyNm,dist_companyNmEn,view
6668,20207893,프리즌 이스케이프,ESCAPE FROM PRETORIA,106.0,2020.0,20200506,개봉,장편,호주,어드벤처,스릴러,NaN,NaN,다니엘 래드클리프,Daniel Radcliffe,12세이상관람가,20141848.0,(주)이놀미디어,NaN,217056
5933,20190545,카운트다운,Countdown,90.0,2019.0,20191212,개봉,장편,미국,공포(호러),스릴러,NaN,NaN,NaN,NaN,15세이상관람가,20161101.0,(주)제이앤씨미디어그룹,NaN,73412
6645,20208282,더 플랫폼,The Platform,94.0,2019.0,20200513,개봉,장편,스페인,SF,스릴러,NaN,NaN,NaN,NaN,청소년관람불가,20154928.0,(주)홈초이스,HOME CHOICE,66038
5804,20189525,젝스키스 에이틴,SECHSKIES Eighteen,100.0,2017.0,20180118,개봉,장편,한국,다큐멘터리,NaN,NaN,NaN,은지원,EUN Ji-won,전체관람가,20063188.0,씨제이 씨지브이(CJ CGV)(주),CJ CGV,50419
7128,20216523,모탈 컴뱃,Mortal Kombat,109.0,2021.0,20210408,개봉,장편,미국,액션,어드벤처,NaN,NaN,조 타슬림,Joe Taslim,청소년관람불가,20100043.0,워너브러더스 코리아(주),Warner Bros. Korea,40461
7007,20218420,은혼 더 파이널,Gintama: The Final,103.0,2021.0,20210722,개봉,장편,일본,애니메이션,NaN,NaN,NaN,스기타 토모카즈,Tomokazu Sugita,15세이상관람가,20191941.0,워터홀컴퍼니(주),WATERHOLE COMPANY,35126
6005,20192589,빅 위시,SALMAS BIG WISH,79.0,2019.0,20191030,개봉,장편,멕시코,판타지,애니메이션,NaN,NaN,NaN,NaN,전체관람가,2013216.0,(주)박수엔터테인먼트,Boxoo Entertainment,32684
7108,20216908,극장판 바다 탐험대 옥토넛 : 불의 고리 대폭발,OCTONAUTS: Ring of Fire,71.0,2020.0,20210428,개봉,장편,영국,애니메이션,액션,NaN,NaN,엄상현,UM Sang-hyun,전체관람가,20206061.0,주식회사 컨텐츠썬,NaN,29661
6642,20207501,그집,32 Malasana Street,104.0,2020.0,20200527,개봉,장편,스페인,공포(호러),스릴러,NaN,NaN,NaN,NaN,15세이상관람가,20161101.0,(주)제이앤씨미디어그룹,NaN,28707
6489,20208448,극장판 바다 탐험대 옥토넛 : 대산호초 보호작전,OCTONAUTS & the Great Barrier Reef,45.0,2020.0,20201112,개봉,장편,영국,애니메이션,뮤지컬,NaN,NaN,엄상현,UM Sang-hyun,전체관람가,20141088.0,와이드 릴리즈(주),Wide Release,26219
6891,20210682,바다 탐험대 옥토넛 : 육지수호 대작전,OCTONAUTS : Above & Beyond,59.0,2021.0,20211027,개봉,장편,영국,애니메이션,액션,NaN,NaN,엄상현,UM Sang-hyun,전체관람가,20141088.0,와이드 릴리즈(주),Wide Release,25934
6689,20206446,n번째 이별 중,Time Freak,104.0,2018.0,20200401,개봉,장편,미국,멜로/로맨스,코미디,NaN,NaN,에이사 버터필드,Asa Butterfield,12세이상관람가,20190407.0,(주)팬엔터테인먼트,Pan Entertainment,24979
6731,20192604,오즈의 마법사: 요술구두와 말하는 책,Fantastic Return to OZ,76.0,2019.0,20200122,개봉,장편,러시아,애니메이션,코미디,NaN,NaN,NaN,NaN,전체관람가,2013216.0,(주)박수엔터테인먼트,Boxoo Entertainment,24534
6587,20200845,비바리움,Vivarium,97.0,2019.0,20200716,개봉,장편,아일랜드,미스터리,SF,NaN,NaN,제시 아이젠버그,Jesse Eisenberg,15세이상관람가,20143338.0,(주)드림팩트엔터테인먼트,Dreamfact entertainment,23766
7072,20217573,굴뚝마을의 푸펠,Poupelle of Chimney Town,100.0,2020.0,20210526,개봉,장편,일본,애니메이션,판타지,NaN,NaN,NaN,NaN,전체관람가,20139617.0,(주)리틀빅픽쳐스,Little Big Pictures,23737
6720,20203961,극장판 원피스 스탬피드,ONE PIECE STMAPEDE,101.0,2019.0,20200213,개봉,장편,일본,애니메이션,NaN,NaN,NaN,NaN,NaN,전체관람가,20111081.0,(주)스마일이엔티,Smile Ent.,22424
6604,20201265,팬데믹,ONLY,97.0,2020.0,20200722,개봉,장편,미국,스릴러,NaN,NaN,NaN,프리다 핀토,Freida Pinto,15세이상관람가,20139135.0,(주)영화사 빅,Big Film,20355
6712,20204340,시원찮은 그녀를 위한 육성방법 피날레,Saekano the Movie: Finale,114.0,2019.0,20200227,개봉,장편,일본,애니메이션,드라마,NaN,NaN,마츠오카 요시츠구,Yoshitsugu Matsuoka,12세이상관람가,20137515.0,(주)애니플러스,ANIPLUS,19894
6889,20210662,애프터: 관계의 함정,After We Fell,98.0,2021.0,20211027,개봉,장편,미국,멜로/로맨스,NaN,NaN,NaN,조세핀 랭포드,Josephine Langford,15세이상관람가,20100285.0,판씨네마(주),Pancinema Corp.,19246
6751,20203009,드림빌더,Dreambuilders,80.0,2019.0,20210210,개봉,장편,기타,애니메이션,어드벤처,NaN,NaN,NaN,NaN,전체관람가,20188741.0,(주)트리플픽쳐스,Triple Pictures Inc.,18617

In [97]:
# Top20 관객수 중, 네이버에서 감독 정보가 제공되는 경우 수작업으로 추가
raw.loc[6668, 'directorNm'] = "프란시스 아난"
raw.loc[5933, 'directorNm'] = "저스틴 덱"
raw.loc[5933, 'actor1_Nm'] = "엘리자베스 라일"
raw.loc[6645, 'directorNm'] = "가더 가츠테루-우루샤"
raw.loc[6645, 'actor1_Nm'] = "이반 마사구에"
raw.loc[7128, 'directorNm'] = "사이먼 맥쿼이드"
raw.loc[7007, 'directorNm'] = "미야와키 치즈루"
raw.loc[7108, 'directorNm'] = "블레어 시몬스"
raw.loc[6642, 'directorNm'] = "알베르트 핀토"
raw.loc[6642, 'actor1_Nm'] = "베고냐 바르가스"
raw.loc[6489, 'directorNm'] = "블레어 시몬스"
raw.loc[6891, 'directorNm'] = "블레어 시몬스"
raw.loc[6689, 'directorNm'] = "앤드류 볼러"
raw.loc[6731, 'directorNm'] = "표도르 드미트리에프"
raw.loc[6731, 'actor1_Nm'] = "김소희"
raw.loc[6587, 'directorNm'] = "로칸 피네건"
raw.loc[7072, 'directorNm'] = "히로타 유스케"
raw.loc[7072, 'actor1_Nm'] = "아시다 마나"
raw.loc[6720, 'directorNm'] = "오츠카 타카시"
raw.loc[6720, 'actor1_Nm'] = "타나카 마유미"
raw.loc[6604, 'directorNm'] = "타카시 도셔"
raw.loc[6712, 'directorNm'] = "카메이 칸타"
raw.loc[6889, 'directorNm'] = "캐스틸 랜던"

In [98]:
# 그 외는 모두 제거
raw = raw.dropna(subset=['directorNm'], axis=0).reset_index(drop=True)
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7077 entries, 0 to 7076
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movieCd           7077 non-null   object
 1   movieNm           7077 non-null   object
 2   movieNmEn         6966 non-null   object
 3   showTm            7077 non-null   float64
 4   prdtYear          7075 non-null   float64
 5   openDt            7077 non-null   int64
 6   prdtStatNm        7077 non-null   object
 7   typeNm            7077 non-null   object
 8   nationNm          7077 non-null   object
 9   genres_1          7077 non-null   object
 10  genres_2          3787 non-null   object
 11  directorNm        7077 non-null   object
 12  directorNmEn      6884 non-null   object
 13  actor1_Nm         6528 non-null   object
 14  actor1_NmEn       6522 non-null   object
 15  watchGradeNm      7077 non-null   object
 16  dist_companyCd    7070 non-null   float64
 17  dist_companyNm    7077 non-null   object
 18  dist_companyNmEn  6003 non-null   object
 19  view              7077 non-null   int64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.1+ MB

### 3.3 배우 컬럼 전처리

In [99]:
raw[raw['actor1_Nm'].isna()].sort_values('view', ascending=False).head(20)

,movieCd,movieNm,movieNmEn,showTm,prdtYear,openDt,prdtStatNm,typeNm,nationNm,genres_1,genres_2,directorNm,directorNmEn,actor1_Nm,actor1_NmEn,watchGradeNm,dist_companyCd,dist_companyNm,dist_companyNmEn,view
4802,20155422,굿 다이노,The Good Dinosaur,100.0,2015.0,20160107,개봉,장편,미국,애니메이션,어드벤처,피터 손,Peter SOHN,NaN,NaN,전체관람가,20060452.0,월트디즈니컴퍼니코리아(주),The Walt Disney Company Korea,1330183
3010,20134206,썬더와 마법저택,The House of Magic,85.0,2013.0,20131224,개봉,장편,벨기에,애니메이션,어드벤처,벤 스타센,Ben Stassen,NaN,NaN,전체관람가,20110854.0,(주)씨제이이엔엠,CJ ENM Corp.,904143
4704,20156207,앵그리버드 더 무비,The Angry Birds Movie,97.0,2016.0,20160519,개봉,장편,핀란드,애니메이션,NaN,퍼갈 레일리,Fergal Reilly,NaN,NaN,전체관람가,20100603.0,유니버설픽쳐스인터내셔널 코리아(유),Universal Pictures International Korea,680622
3527,20143344,눈의 여왕 2: 트롤의 마법거울,The Snow Queen 2,78.0,2014.0,20141224,개봉,장편,러시아,애니메이션,판타지,알렉세이 트시칠린,Alexey Tsitsilin,NaN,NaN,전체관람가,20121879.0,씨네그루(주)다우기술,Daou Tech Inc.,618730
4199,20150501,극장판 요괴워치: 탄생의 비밀이다냥!,Yokai Watch: Tanjo no himitsuda nyan,96.0,2014.0,20150722,개봉,장편,일본,애니메이션,NaN,타카하시 시게하루,Shigeharu Takahashi,NaN,NaN,전체관람가,20110854.0,(주)씨제이이엔엠,CJ ENM Corp.,550961
4402,20162002,명탐정 코난: 순흑의 악몽,Detective Conan : The Darkest Nightmare,111.0,2016.0,20160803,개봉,장편,일본,애니메이션,미스터리,시즈노 코분,Kobun SHIZUNO,NaN,NaN,12세이상관람가,20110854.0,(주)씨제이이엔엠,CJ ENM Corp.,522344
4942,20174965,극장판 포켓몬스터 너로 정했다!,pokemon the movie:I choose you!,97.0,2017.0,20171221,개봉,장편,일본,애니메이션,어드벤처,유야마 쿠니히코,Kunihiko Yuyama,NaN,NaN,전체관람가,20142048.0,(주)이수C&E,NaN,509555
4866,20170124,명탐정 코난:진홍의 연가,Detective Conan: Crimson Love Letter,112.0,2017.0,20170802,개봉,장편,일본,애니메이션,NaN,시즈노 코분,Kobun SHIZUNO,NaN,NaN,12세이상관람가,20110854.0,(주)씨제이이엔엠,CJ ENM Corp.,450705
3382,20149567,명탐정 코난 : 이차원의 저격수,Detective Conan : Dimensional Sniper,110.0,2014.0,20140806,개봉,장편,일본,애니메이션,스릴러,시즈노 코분,Kobun SHIZUNO,NaN,NaN,12세이상관람가,20110854.0,(주)씨제이이엔엠,CJ ENM Corp.,398761
4019,20153702,포켓몬 더 무비 XY 후파: 광륜의 초마신,Pokemon the Movie XY: Ring no Chomajin,79.0,2015.0,20151223,개봉,장편,일본,애니메이션,어드벤처,유야마 쿠니히코,Kunihiko Yuyama,NaN,NaN,전체관람가,20142048.0,(주)이수C&E,NaN,300477
2550,20127887,빌리와 용감한 녀석들 3D,Animals United,93.0,2010.0,20120808,개봉,장편,독일,애니메이션,가족,라인하드 클루스,Reinhard Klooss,NaN,NaN,전체관람가,20101094.0,(주)에스비에스콘텐츠허브,SBS Contents Hub,299691
6141,20190273,천로역정: 천국을 찾아서,The Pilgrim's Progress,113.0,2019.0,20190613,개봉,장편,미국,애니메이션,어드벤처,로버트 페르난데스,Robert Fernandez,NaN,NaN,전체관람가,20157988.0,(재)CBS,NaN,297891
4495,20162183,포켓몬 더 무비 XY&Z 「볼케니온 : 기계왕국의 비밀」,NaN,94.0,2016.0,20161222,개봉,장편,일본,애니메이션,어드벤처,유야마 쿠니히코,Kunihiko Yuyama,NaN,NaN,전체관람가,20142048.0,(주)이수C&E,NaN,282565
4949,20179187,공범자들,Criminal Conspiracy,105.0,2017.0,20170817,개봉,장편,한국,다큐멘터리,NaN,최승호,CHOI Seung-ho,NaN,NaN,15세이상관람가,20111582.0,(주)엣나인필름,"Atnine Film Co., Ltd.",260514
4311,20155761,명탐정 코난 : 코난 실종사건 - 사상 최악의 이틀,Detective Conan : MISSING CONAN EDOGAWA CASE -...,91.0,2014.0,20150212,개봉,장편,일본,애니메이션,어드벤처,야마모토 야스이치로,Yasuichiro Yamamoto,NaN,NaN,12세이상관람가,20110854.0,(주)씨제이이엔엠,CJ ENM Corp.,257381
4325,20142962,극장판 포켓몬스터 XY : 파괴의 포켓몬과 디안시,NaN,98.0,2014.0,20150114,개봉,장편,일본,애니메이션,NaN,유야마 쿠니히코,Kunihiko Yuyama,NaN,NaN,전체관람가,20100520.0,롯데쇼핑㈜롯데엔터테인먼트,"Lotte shopping Lotte Entertainment Co.,Ltd",233347
6777,20216710,명탐정 코난: 비색의 탄환,Detective Conan: The Scarlet Bullet,110.0,2020.0,20210416,개봉,장편,일본,애니메이션,NaN,나가오카 치카,Chika Nagaoka,NaN,NaN,12세이상관람가,20110854.0,(주)씨제이이엔엠,CJ ENM Corp.,232871
3548,20143602,일곱난쟁이,The 7th Dwarf,87.0,2014.0,20141224,개봉,장편,독일,애니메이션,어드벤처,헤랄드 지페르만,Harald Siepermann,NaN,NaN,전체관람가,20141469.0,메가박스중앙(주)플러스엠,Megabox Plus M,227586
3246,20136741,짱구는 못말려 극장판:태풍을 부르는 나와 우주의 프린세스,CRAYON SHIN-CHAN: ARASI OYOBU ORA TO UCHU NO P...,109.0,2012.0,20130425,개봉,장편,일본,애니메이션,NaN,마스이 소이치,Masui Soichi,NaN,NaN,전체관람가,20100520.0,롯데쇼핑㈜롯데엔터테인먼트,"Lotte shopping Lotte Entertainment Co.,Ltd",217320
3617,20141281,"극장판 파워레인저 다이노포스VS고버스터즈 공룡 대결전! ~안녕, 영원한 친구여!~",ZYUDEN SENTAI KYORUGER VS GO_BUSTERS: DINOSAUR...,59.0,2014.0,20141002,개봉,장편,일본,액션,SF,사카모토 코이치,Koichi Sakamoto,NaN,NaN,전체관람가,20142048.0,(주)이수C&E,NaN,215046

In [100]:
# 대다수의 배우가 없는 값이 애니메이션 장르이므로, 성우 이름이 많이 누락된 것으로 보인다.
# 애니메이션 장르의 경우 배우명을 수작업으로 네이버 영화에서 찾아 보았다.
# 해당 데이터가 많았기에 엑셀에서 작업 후, 판다스로 불러와 기존 데이터프레임에 덮어 씌우는 방식으로 진행

anime_act = pd.read_excel('./data/animationAltered.xlsx')
anime_act.head()

,index,movieCd,movieNm,movieNmEn,runTm,nation,genre,director,actor,actor1_NmEn,is_adult,distributor,view,openMonth
0,2601,20179985,코코,COCO,126,2,12,리 언크리치,가엘 가르시아 베르날,Gael Garcia Bernal,0,월트디즈니컴퍼니코리아 유한책임회사,3513114,1
1,4770,20137422,폭풍우 치는 밤에: 비밀 친구,One Stormy Night,89,3,12,아미노 테츠로,갈소원,GAL So-won,0,(주)마인스 엔터테인먼트,38347,5
2,1692,20060198,호박전,The Pumpkin,45,1,12,유진희,강구한,KANG Gu-han,0,서울애니메이션센터,1651,6
3,2379,20148648,극장판 루팡 3세 VS 명탐정 코난,Lupin The 3rd VS Detective Conan The Movie,107,3,12,카메가키 하지메,강수진,KANG Soo-jin,0,(주)씨제이이엔엠,225842,5
4,1067,20040611,날으는 돼지 - 해적 마테오,MATEO,82,1,12,송근식,강수진,KANG Soo-jin,0,에이아이씨코리아(AIC KOREA),6495,7

In [101]:
# 기존 데이터프레임과 합치기

for idx, row in anime_act.iterrows():
    cd = str(row['movieCd'])
    nm = row['actor']
    try:
        i = raw.index[raw['movieCd']==cd].tolist()[0]
        raw.loc[i, 'actor1_Nm'] = nm
    except:
        continue

In [102]:
# 추가적으로 수작업한 배우 명 불러오기
act_df = pd.read_excel('./data/actors_additional.xlsx')
act_df.head()

,movieCd,movieNm,prdtYear,openDt,actor1_Nm,actor1_NmEn,watchGradeNm,dist_companyCd,dist_companyNm,dist_companyNmEn,view
0,20162183,포켓몬 더 무비 XY&Z 「볼케니온 : 기계왕국의 비밀」,2016,20161222,이장원,NaN,전체관람가,20142048,(주)이수C&E,NaN,282565
1,20179187,공범자들,2017,20170817,이명박,NaN,15세이상관람가,20111582,(주)엣나인필름,"Atnine Film Co., Ltd.",260514
2,20142962,극장판 포켓몬스터 XY : 파괴의 포켓몬과 디안시,2014,20150114,조현정,NaN,전체관람가,20100520,롯데쇼핑㈜롯데엔터테인먼트,"Lotte shopping Lotte Entertainment Co.,Ltd",233347
3,20141281,"극장판 파워레인저 다이노포스VS고버스터즈 공룡 대결전! ~안녕, 영원한 친구여!~",2014,20141002,류세이 료,NaN,전체관람가,20142048,(주)이수C&E,NaN,215046
4,20040467,사랑할 때 버려야 할 아까운 것들,2003,20040213,잭 니콜슨,NaN,15세관람가,20100043,워너브러더스 코리아(주),Warner Bros. Korea,138609

In [103]:
# 기존 데이터프레임과 합치기

for idx, row in act_df.iterrows():
    cd = str(row['movieCd'])
    nm = row['actor1_Nm']
    try:
        i = raw.index[raw['movieCd']==cd].tolist()[0]
        raw.loc[i, 'actor1_Nm'] = nm
    except:
        continue

In [104]:
# 나머지 결측치는 제거

raw = raw.dropna(subset='actor1_Nm', axis=0).reset_index(drop=True)
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6821 entries, 0 to 6820
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movieCd           6821 non-null   object
 1   movieNm           6821 non-null   object
 2   movieNmEn         6730 non-null   object
 3   showTm            6821 non-null   float64
 4   prdtYear          6819 non-null   float64
 5   openDt            6821 non-null   int64
 6   prdtStatNm        6821 non-null   object
 7   typeNm            6821 non-null   object
 8   nationNm          6821 non-null   object
 9   genres_1          6821 non-null   object
 10  genres_2          3736 non-null   object
 11  directorNm        6821 non-null   object
 12  directorNmEn      6654 non-null   object
 13  actor1_Nm         6821 non-null   object
 14  actor1_NmEn       6522 non-null   object
 15  watchGradeNm      6821 non-null   object
 16  dist_companyCd    6814 non-null   float64
 17  dist_companyNm    6821 non-null   object
 18  dist_companyNmEn  5799 non-null   object
 19  view              6821 non-null   int64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.0+ MB

### 3.4 장르 단순화

In [105]:
raw['genres_1'].value_counts()

드라마         2072
애니메이션        915
액션           820
코미디          687
멜로/로맨스       498
다큐멘터리        335
공포(호러)       298
스릴러          280
범죄           232
SF           157
미스터리         135
판타지          103
가족            76
어드벤처          71
사극            52
전쟁            43
뮤지컬           31
기타            11
서부극(웨스턴)       5
Name: genres_1, dtype: int64

In [106]:
'''
1. 드라마/가족
2. 액션
3. 스릴러
5. 코미디
7. 멜로/로맨스
8. 공포(호러)
10. 다큐멘터리
11. 범죄
12. 애니메이션
'''

'\n1. 드라마/가족\n2. 액션\n3. 스릴러\n5. 코미디\n7. 멜로/로맨스\n8. 공포(호러)\n10. 다큐멘터리\n11. 범죄\n12. 애니메이션\n'

In [107]:
# 장르 변환 또한 데이터 수가 많고 수작업이 필요했기에 엑셀에서 변경 후 기존 데이터프레임에 씌우기

genres = pd.read_excel('./data/genre_rename.xlsx')

In [108]:
genres.head()

,movieCd,movieNm,movieNmEn,runTm,nation,genre,director,actor,actor1_NmEn,is_adult,distributor,view,openMonth
0,20071675,더 게임,The Devil’s Game,116,1,3,윤인호,변희봉,BYUN Hee-bong,0,(주)프라임엔터테인먼트,1479859,1
1,20124043,홀리,HOLLY,104,1,1,박병환,신이,SHIN Yi,0,(주)액티버스엔터테인먼트,1785,6
2,20070262,기담,Epitaph,98,1,8,정식,김보경,KIM Bo-kyung,0,(주)영화사오원,646216,8
3,20187303,하나식당,NaN,94,1,1,최낙희,최정원,CHOI Jung-won,0,(주)영화사오원,2505,11
4,20175527,더 펜션,The Pension,112,1,1,류장하,조재윤,JO Jae-yun,0,(주)영화사오원,3340,6

In [109]:
# 기존 데이터프레임과 합치기

for idx, row in genres.iterrows():
    cd = str(row['movieCd'])
    g = row['genre']
    try:
        i = raw.index[raw['movieCd']==cd].tolist()[0]
        raw.loc[i, 'genres_1'] = g
    except:
        continue

In [110]:
for idx, row in raw.iterrows():
    val = row['genres_1']

    if val == "드라마":
        raw.loc[idx, 'genres_1'] = 1
    elif val == "가족":
        raw.loc[idx, 'genres_1'] = 1
    elif val == "액션":
        raw.loc[idx, 'genres_1'] = 2
    elif val == "스릴러":
        raw.loc[idx, 'genres_1'] = 3
    elif val == "코미디":
        raw.loc[idx, 'genres_1'] = 5
    elif val == "멜로/로맨스":
        raw.loc[idx, 'genres_1'] = 7
    elif val == "다큐멘터리":
        raw.loc[idx, 'genres_1'] = 10
    elif val == "범죄":
        raw.loc[idx, 'genres_1'] = 11
    elif val == "애니메이션":
        raw.loc[idx, 'genres_1'] = 12

In [111]:
raw.loc[4019, 'genres_1'] = 1
raw.loc[5911, 'genres_1'] = 2
raw.loc[6370, 'genres_1'] = 3
raw.loc[298, 'genres_1'] = 3
raw.loc[6331, 'genres_1'] = 3
raw.loc[4434, 'genres_1'] = 3
raw.loc[5742, 'genres_1'] = 3
raw.loc[6367, 'genres_1'] = 3
raw.loc[5751, 'genres_1'] = 1
raw.loc[6387, 'genres_1'] = 1
raw.loc[5243, 'genres_1'] = 10
raw.loc[5718, 'genres_1'] = 10

In [112]:
# 나머지는 제거
remove = raw.index[(raw['genres_1'] == "기타") | (raw['genres_1'] == "뮤지컬")].tolist()
raw = raw.drop(remove, axis=0).reset_index(drop=True)

In [113]:
raw['genres_1'].value_counts()

1     2165
12     916
2      822
5      689
7      501
10     337
8      295
3      286
11     233
15     156
9      133
4      103
16      70
14      57
6       43
Name: genres_1, dtype: int64

In [114]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6806 entries, 0 to 6805
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movieCd           6806 non-null   object
 1   movieNm           6806 non-null   object
 2   movieNmEn         6716 non-null   object
 3   showTm            6806 non-null   float64
 4   prdtYear          6804 non-null   float64
 5   openDt            6806 non-null   int64
 6   prdtStatNm        6806 non-null   object
 7   typeNm            6806 non-null   object
 8   nationNm          6806 non-null   object
 9   genres_1          6806 non-null   object
 10  genres_2          3735 non-null   object
 11  directorNm        6806 non-null   object
 12  directorNmEn      6642 non-null   object
 13  actor1_Nm         6806 non-null   object
 14  actor1_NmEn       6507 non-null   object
 15  watchGradeNm      6806 non-null   object
 16  dist_companyCd    6799 non-null   float64
 17  dist_companyNm    6806 non-null   object
 18  dist_companyNmEn  5786 non-null   object
 19  view              6806 non-null   int64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.0+ MB

### 3.5 제작 국가명 단순화

In [115]:
raw['nationNm'].value_counts()

미국       2111
한국       1941
일본        727
프랑스       423
영국        317
         ...
이라크         1
서독          1
보스니아        1
몽고          1
크로아티아       1
Name: nationNm, Length: 64, dtype: int64

In [116]:
# 국가명을 1= 한국, 2= 미국, 3= 제3국으로 지정
for idx, row in raw.iterrows():
    val = row['nationNm']
    if val == "한국":
        raw.loc[idx, 'nationNm'] = 1
    elif val == "미국":
        raw.loc[idx, 'nationNm'] = 2
    else:
        raw.loc[idx, 'nationNm'] = 3

In [117]:
raw['nationNm'].value_counts()

3    2754
2    2111
1    1941
Name: nationNm, dtype: int64

### 3.6 개봉 월 추가

In [118]:
raw['openMonth'] = raw['openDt'].astype(str).str[4:6]

In [119]:
raw.head()

,movieCd,movieNm,movieNmEn,showTm,prdtYear,openDt,prdtStatNm,typeNm,nationNm,genres_1,...,directorNm,directorNmEn,actor1_Nm,actor1_NmEn,watchGradeNm,dist_companyCd,dist_companyNm,dist_companyNmEn,view,openMonth
0,20040598,해리포터와 아즈카반의 죄수,Harry Potter And The Prisoner Of Azkaban,136.0,2004.0,20040716,개봉,장편,2,1,...,알폰소 쿠아론,Alfonso Cuaron,다니엘 래드클리프,Daniel Radcliffe,전체관람가,20100043.0,워너브러더스 코리아(주),Warner Bros. Korea,1865469,07
1,20030440,자토이치,Zatoichi,119.0,2003.0,20040130,개봉,장편,3,2,...,기타노 다케시,Takeshi Kitano,기타노 다케시,Takeshi Kitano,15세관람가,20100631.0,(주)영화사 진진,JINJIN Pictures,24634,01
2,20040487,범죄의 재구성,The Big Swindle,116.0,2004.0,20040415,개봉,장편,1,3,...,최동훈,CHOI Dong-hoon,김윤석,KIM Yun-seok,18세관람가,20100103.0,(주)쇼박스,Showbox Corp,943241,04
3,20040462,빅 피쉬,Big Fish,125.0,2003.0,20040305,개봉,장편,2,4,...,팀 버튼,Tim Burton,이완 맥그리거,Ewan McGregor,12세이상관람가,20122837.0,(주)팝엔터테인먼트,Pop Entertainment,85594,03
4,20040559,나두야 간다,A Wacky Switch,105.0,2004.0,20040625,개봉,장편,1,5,...,정연원,JUNG Yeoun-won,권용운,KWON Yong-woon,15세관람가,20101530.0,롯데쇼핑㈜롯데시네마,"Lotte shopping Lotte cinema Co., Ltd.",193554,06

### 3.7 심의 등급 단순화

In [120]:
# 청불 or NOT 청불로 단순화 작업
raw['watchGradeNm'].value_counts()

15세이상관람가    2174
12세이상관람가    1455
전체관람가       1381
청소년관람불가     1186
15세관람가       300
12세관람가       175
18세관람가       135
Name: watchGradeNm, dtype: int64

In [121]:
import numpy as np
raw['is_adult'] = np.nan

In [122]:
for idx, row in raw.iterrows():
    val = row['watchGradeNm']
    if (val == "청소년관람불가") | (val == "18세관람가"):
        raw.loc[idx, 'is_adult'] = 1
    else:
        raw.loc[idx, 'is_adult'] = 0

In [123]:
raw['is_adult'].value_counts()

0.0    5485
1.0    1321
Name: is_adult, dtype: int64

### 3.8 불필요한 컬럼 제거

In [124]:
raw.columns

Index(['movieCd', 'movieNm', 'movieNmEn', 'showTm', 'prdtYear', 'openDt',
       'prdtStatNm', 'typeNm', 'nationNm', 'genres_1', 'genres_2',
       'directorNm', 'directorNmEn', 'actor1_Nm', 'actor1_NmEn',
       'watchGradeNm', 'dist_companyCd', 'dist_companyNm', 'dist_companyNmEn',
       'view', 'openMonth', 'is_adult'],
      dtype='object')

In [125]:
raw = raw.drop(['movieNmEn', 'prdtYear', 'openDt', 'prdtStatNm', 'typeNm', 'genres_2', 'directorNmEn', 'actor1_NmEn', 'watchGradeNm', 'dist_companyCd', 'dist_companyNmEn'], axis=1)

In [126]:
raw.head()

,movieCd,movieNm,showTm,nationNm,genres_1,directorNm,actor1_Nm,dist_companyNm,view,openMonth,is_adult
0,20040598,해리포터와 아즈카반의 죄수,136.0,2,1,알폰소 쿠아론,다니엘 래드클리프,워너브러더스 코리아(주),1865469,07,0.0
1,20030440,자토이치,119.0,3,2,기타노 다케시,기타노 다케시,(주)영화사 진진,24634,01,0.0
2,20040487,범죄의 재구성,116.0,1,3,최동훈,김윤석,(주)쇼박스,943241,04,1.0
3,20040462,빅 피쉬,125.0,2,4,팀 버튼,이완 맥그리거,(주)팝엔터테인먼트,85594,03,0.0
4,20040559,나두야 간다,105.0,1,5,정연원,권용운,롯데쇼핑㈜롯데시네마,193554,06,0.0

### 3.9 배급사 정렬

In [127]:
raw['dist_companyNm'].value_counts()

롯데쇼핑㈜롯데엔터테인먼트          294
CJ ENM                 244
(주)씨제이이엔엠              233
유니버설픽쳐스인터내셔널 코리아(유)    223
(주)쇼박스                 206
                      ...
(주)베드픽쳐스                 1
아이제이미디어(주)               1
(주)미디어이야기                1
익스트림 필름                  1
(주)백그림                   1
Name: dist_companyNm, Length: 439, dtype: int64

In [128]:
raw['dist_companyNm'] = raw['dist_companyNm'].str.replace("(주)", "")
raw['dist_companyNm'] = raw['dist_companyNm'].str.replace(")", "")
raw['dist_companyNm'] = raw['dist_companyNm'].str.replace("(", "")
raw['dist_companyNm'] = raw['dist_companyNm'].str.replace("㈜", "")

/var/folders/_m/9sycz7bj0vlcb0sqw1yc6q400000gn/T/ipykernel_4033/2061541141.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  raw['dist_companyNm'] = raw['dist_companyNm'].str.replace("(주)", "")
/var/folders/_m/9sycz7bj0vlcb0sqw1yc6q400000gn/T/ipykernel_4033/2061541141.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  raw['dist_companyNm'] = raw['dist_companyNm'].str.replace(")", "")
/var/folders/_m/9sycz7bj0vlcb0sqw1yc6q400000gn/T/ipykernel_4033/2061541141.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  raw['dist_companyNm'] = raw['dist_companyNm'].str.replace("(", "")

In [129]:
raw['dist_companyNm'].value_counts()

롯데쇼핑롯데엔터테인먼트         294
CJ ENM               244
씨제이이엔엠               233
유니버설픽쳐스인터내셔널 코리아유    223
쇼박스                  206
                    ...
다솔기획                   1
베드픽쳐스                  1
아이제이미디어                1
미디어이야기                 1
백그림                    1
Name: dist_companyNm, Length: 433, dtype: int64

In [130]:
raw.to_csv('./data/join_v1.csv', encoding='utf-8-sig', index=False)

In [138]:
raw = pd.read_csv('./data/join_v1.csv', encoding='utf-8-sig', thousands=',')

### 3.10 컬럼명 정리 후 데이터 저장

In [139]:
raw.columns

Index(['movieCd', 'movieNm', 'showTm', 'nationNm', 'genres_1', 'directorNm',
       'actor1_Nm', 'dist_companyNm', 'view', 'openMonth', 'is_adult'],
      dtype='object')

In [140]:
raw = raw.drop(['movieCd', 'movieNm'], axis=1)

In [144]:
raw = raw.reindex(columns=[
    "showTm",
    "nationNm",
    "genres_1",
    "directorNm",
    "actor1_Nm",
    "is_adult",
    "dist_companyNm",
    "view",
    "openMonth"])

In [145]:
raw.columns = ["runTm", "nation", "genre", "director", "actor", "is_adult", "distributor", "view", "openMonth"]

In [146]:
raw.head()

,runTm,nation,genre,director,actor,is_adult,distributor,view,openMonth
0,136.0,2,1,알폰소 쿠아론,다니엘 래드클리프,0.0,워너브러더스 코리아,1865469,7
1,119.0,3,2,기타노 다케시,기타노 다케시,0.0,영화사 진진,24634,1
2,116.0,1,3,최동훈,김윤석,1.0,쇼박스,943241,4
3,125.0,2,4,팀 버튼,이완 맥그리거,0.0,팝엔터테인먼트,85594,3
4,105.0,1,5,정연원,권용운,0.0,롯데쇼핑롯데시네마,193554,6

In [147]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6806 entries, 0 to 6805
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   runTm        6806 non-null   float64
 1   nation       6806 non-null   int64
 2   genre        6806 non-null   int64
 3   director     6806 non-null   object
 4   actor        6806 non-null   object
 5   is_adult     6806 non-null   float64
 6   distributor  6806 non-null   object
 7   view         6806 non-null   int64
 8   openMonth    6806 non-null   int64
dtypes: float64(2), int64(4), object(3)
memory usage: 478.7+ KB

In [148]:
raw.to_csv('./data/join_final.csv', encoding='utf-8-sig', index=False)